@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body {
    font-family: 'Roboto Slab', serif;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: cadetblue;
}

.container {
    align-items: bottom left;
    justify-content: bottom left;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 210px;
    max-height: 300px;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 16px;
    margin: 12px;
}

.content {
    padding: 15px;
}

@media (max-width: 580px) {
    body {
        flex-direction: column
    }
}