@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: cadetblue;
}

.container {
    font-family: 'Kanit', sans-serif;
    align-items: left;
    justify-content: left;
    background-color: dimgray;
    border-radius: 10px;
    text-align: center;
    width: 260px;
    min-height: 750px;
    margin-left: -150px;
    margin-top: 100px;
    bottom: 20px;
}

.expander {
    cursor: pointer;
    margin-top: 200px;
    
}

.btn {
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 16px;
    margin: 12px;
    color: goldenrod;
    margin-bottom: 30px;
}

.content {
    font-family: 'Merriweather', serif;
    padding: 20px 40px;
    margin: 50px;
}

@media (max-width: 580px) {
    body {
        flex-direction: vertical
    }
}